@font-face {
  font-family: "Godzilla";
  font-style: normal;
  font-weight: normal;
  src: local("Godzilla"), url("../styles/font/Godzilla.woff") format("woff");
}

/* * {   outline: 1px solid red; } */

body {
  background-color: #9dafb0;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
  /* font-family: 'Godzilla'; */
}
